
<!doctype html>

<html ng-app="app">

    <head>
        <meta charset="utf-8">
        <title>Diablo 3 Combat Model</title>
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body ng-controller="MainController">

        <div class="container">
            <small>{{ battle.status }}<br/></small>
            <br/>
            <small><em>{{p1Name}}</em></small>
            <progressbar max="p1MaxLife" value="p1Life" type="danger" animate="false"><span white-space:nowrap;>Life: {{p1Life | number:0}}</span></progressbar>
            <progressbar max="p1MaxMeter" value="p1Meter" type="info" animate="false">Wrath</progressbar>
            <small>{{ p1Status }}</small><br />
            <br/>
            <small><em>{{p2Name}}</em></small>
            <progressbar max="p2MaxLife" value="p2Life" type="danger" animate="false"><span white-space:nowrap;>Life: {{p2Life | number:0}}</span></progressbar>
            <progressbar max="p2MaxMeter" value="p2Meter" type="info" animate="false">Wrath</progressbar>
            <small>{{ p2Status }}</small><br />

            <div>
                <div class="container">
                    <label>Attacks Per Second</label><input ng-model="p1Stats.attacksPerSecond"></input>
                    <label>Primary Skill Damage</label><input ng-model="p1Stats.primaryAttack.damage"></input>
                    <label>Primary Skill Meter Cost</label><input ng-model="p1Stats.primaryAttack.meterCost"></input>
                    <label>Primary Skill Meter on Hit</label><input ng-model="p1Stats.primaryAttack.meterOnHit"></input>
                    <label>Secondary Skill Damage</label><input ng-model="p1Stats.secondaryAttack.damage"></input>
                    <label>Secondary Skill Meter Cost</label><input ng-model="p1Stats.secondaryAttack.meterCost"></input>
                    <label>Secondary Skill Meter on Hit</label><input ng-model="p1Stats.secondaryAttack.meterOnHit"></input>
                    <label>Meter</label><input ng-model="p1Stats.maxMeter"></input>
                </div>

                <div class="container">
                    <label>Armour</label><input ng-model="p1Stats.armour"></input>
                    <label>Attack Resistance</label><input ng-model="p1Stats.physicalResistance"></input>
                    <label>Melee Reduction Percent</label><input ng-model="p1Stats.meleeDamageReductionPercent"></input>
                    <label>Vitality</label><input ng-model="p1Stats.vitality"></input>
                </div>

                <div class="container">
                    <label>Life per Second</label><input ng-model="p1Stats.lifePerSecond"></input>
                    <label>Life on Hit</label><input ng-model="p1Stats.lifeOnHit"></input>
                </div>
            </div>

            <footer>
                <p><small>&copy; 2014 - Dom Holmes</small></p>
            </footer>
        </div>
    </body>

</html>

<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="/app/model/build.js"></script>
<script src="/app/model/healer.js"></script>
<script src="/app/model/mitigator.js"></script>
<script src="/app/model/attack.js"></script>
<script src="/app/model/player.js"></script>
<script src="/app/model/battle.js"></script>
<script src="/app/viewmodels/lootViewModel.js"></script>
<script src="/app/controllers/mainController.js"></script>
